colorama
contourpy
cycler
deprecation
fonttools
graphviz
intervaltree
kiwisolver
lxml
matplotlib
networkx
numpy<2
packaging
pandas<3
pillow
pydotplus
pyparsing
python-dateutil
pytz
scipy
setuptools
six
sortedcontainers
tqdm
tzdata
wheel
